html, body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  padding: 20px 0;
}

.demo-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#flicking {
  width: 100%;
}

.panel {
  width: 300px;
  height: 300px;
  background-color: #369;
  /* margin: 1.0123em; */
  padding: 10px;
  border: 10px solid #963;
  box-sizing: border-box;
}
